.vote {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}
.vote h1 {
  word-break: break-all;
}

.vote .value-option {
  margin-bottom: 0.5rem;
}

.vote .vote-footer-button {
  text-align: right;
}
