.info-msg {
  display: inline-block;
  margin-left: 0.5rem;
}
.info-msg .info-msg-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: help;
  border-radius: 50%;
  color: white;
  background: gray;
  font-style: italic;
  font-weight: bolder;
}
